/* ===================================
Project:	A101 - Technical Task
Author: 	Muhammed Athimannil
============================== */
.icon {
  display: inline-block;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  -ms-transition: background-color 0.25s ease 0s;
  -o-transition: background-color 0.25s ease 0s;
  transition: background-color 0.25s ease 0s; }
  .icon:after, .icon:before {
    content: '';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.25s ease 0s;
    -moz-transition: border-color 0.25s ease 0s;
    -ms-transition: border-color 0.25s ease 0s;
    -o-transition: border-color 0.25s ease 0s;
    transition: border-color 0.25s ease 0s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px solid #263a54;
    height: 0;
    width: 12px; }

.next {
  background-color: #fff;
  width: 34px;
  height: 34px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px; }
  .next:after, .next:before {
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }
  .next:after {
    bottom: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  .next:before {
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); }
  .next:hover:not(.small) {
    background-color: #263a54;
    border: 2px solid #fff; }
    .next:hover:not(.small):after, .next:hover:not(.small):before {
      border-color: #fff; }
  .next.large {
    right: 20px;
    bottom: 20px; }
  .next.small {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0; }
    .next.small:after, .next.small:before {
      border-width: 1px;
      width: 4px; }
    .next.small:after {
      bottom: 2px; }
    .next.small:before {
      top: 2px; }

.up {
  background-color: #73ad34;
  width: 34px;
  height: 34px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  .up:after, .up:before {
    border-color: #fff; }
  .up:after {
    left: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  .up:before {
    right: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); }
  .up:hover {
    background-color: #8dc94b;
    /* border: 2px solid $light-green;
    &:after,
    &:before{
    	border-color: $light-green;
    } */ }

.carousel-arrow {
  background-color: #fff;
  width: 34px;
  height: 50px;
  top: 0;
  bottom: 0;
  margin: auto; }
  .carousel-arrow:after {
    bottom: 6px; }
  .carousel-arrow:before {
    top: 6px; }
  .carousel-arrow:hover {
    background-color: #263a54;
    border: 2px solid #fff; }
    .carousel-arrow:hover:after, .carousel-arrow:hover:before {
      border-color: #fff; }

.carousel-next {
  right: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  .carousel-next:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  .carousel-next:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); }
  .carousel-next:hover {
    border-right: none; }

.carousel-prev {
  left: 0;
  -webkit-border-top-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }
  .carousel-prev:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg); }
  .carousel-prev:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  .carousel-prev:hover {
    border-left: none; }

.buble {
  position: relative; }
  .buble:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-color: transparent;
    border-style: solid;
    border-width: 21px;
    width: 0;
    height: 0; }
  .buble.buble-left:after {
    right: 100%;
    border-right-color: #263a54; }
    @media (max-width: 768px) {
      .buble.buble-left:after {
        border-right-color: transparent;
        border-bottom-color: #263a54;
        bottom: 100%;
        top: auto;
        right: 0;
        left: 0; } }
  .buble.buble-right:after {
    left: 100%;
    border-left-color: #003e7e; }

.plus {
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  border: 2px solid #73ad34;
  right: 20px;
  bottom: 20px; }
  .plus:after, .plus:before {
    border: 1px solid #73ad34; }
  .plus:after {
    width: 0;
    height: 12px; }
  .plus:before {
    width: 12px;
    height: 0; }
  .plus:hover {
    background-color: #73ad34; }
    .plus:hover:after, .plus:hover:before {
      border-color: #fff; }

@font-face {
  font-family: "avalon";
  src: url("../fonts/avalon-plain.eot");
  src: url("../fonts/avalon-plain.eot?#iefix") format("embedded-opentype"), url("../fonts/avalon-plain.ttf") format("truetype"), url("../fonts/avalon-plain.svg#avalon") format("svg");
  font-style: normal;
  font-weight: 400; }
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-family: "avalon", sans-serif;
  font-size: 12px;
  background-color: #fff;
  color: #263a54; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0;
    text-decoration: underline; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

section,
footer {
  width: 100%;
  overflow: hidden; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 35px;
  position: relative; }
  @media (max-width: 768px) {
    .container {
      padding-top: 20px; } }

#move-top {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px; }

header {
  width: 100%;
  float: left; }

#logo {
  float: left;
  width: 250px;
  display: block; }
  @media (max-width: 768px) {
    #logo {
      float: none;
      margin: auto; } }

.contact {
  float: right;
  margin-top: 10px;
  padding-right: 10px; }
  @media (max-width: 768px) {
    .contact {
      float: left; } }
  .contact li {
    display: inline-block;
    line-height: 18px;
    margin-left: 33px;
    color: #003e7e;
    padding-left: 20px;
    margin-bottom: 10px;
    background-position: center left;
    background-repeat: no-repeat;
    background-image: url(../img/pointer.png); }
    @media (max-width: 768px) {
      .contact li {
        margin-left: 20px; } }
    .contact li.address {
      background-image: url(../img/pointer.png); }
    .contact li.mail {
      background-image: url(../img/envelop.png); }
    .contact li.telephone {
      background-image: url(../img/telephone.png); }
    .contact li a {
      color: #003e7e; }

.connect {
  float: right;
  margin: 10px 0;
  padding: 0 10px; }
  @media (max-width: 768px) {
    .connect {
      width: 100%;
      margin: 10px 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
  .connect input[type=search] {
    -webkit-appearance: none;
    float: right;
    height: 45px;
    width: 385px;
    padding: 15px;
    background-color: #c5cdd1;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .connect input[type=search]::-webkit-input-placeholder {
      color: #fff; }
    .connect input[type=search]:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
      opacity: 1; }
    .connect input[type=search]::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
      opacity: 1; }
    .connect input[type=search]:-ms-input-placeholder {
      color: #fff; }
    @media (max-width: 768px) {
      .connect input[type=search] {
        width: 100%;
        margin-bottom: 5px; } }

.social-media {
  margin-top: 7px;
  float: right; }
  .social-media li {
    display: inline-block;
    margin: 0 17px 7px 17px; }
    .social-media li a {
      display: block;
      width: 32px;
      height: 32px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
      background-color: #c5cdd1;
      background-position: center center;
      background-repeat: no-repeat; }
      .social-media li a.facebook {
        background-image: url(../img/facebook.png); }
        .social-media li a.facebook:hover {
          background-color: #3B5998; }
      .social-media li a.twitter {
        background-image: url(../img/twitter.png); }
        .social-media li a.twitter:hover {
          background-color: #00ACED; }
      .social-media li a.gplus {
        background-image: url(../img/gplus.png); }
        .social-media li a.gplus:hover {
          background-color: #D14836; }
      .social-media li a.rss {
        background-image: url(../img/rss.png); }
        .social-media li a.rss:hover {
          background-color: #FF8300; }
    @media (max-width: 768px) {
      .social-media li:last-child {
        margin-right: 0; } }

nav {
  width: 100%;
  float: left;
  margin-bottom: 20px; }
  nav > ul {
    float: right; }
    nav > ul > li {
      float: left;
      position: relative; }
      nav > ul > li:hover ul {
        display: block; }
      nav > ul > li a {
        display: inline-block;
        color: #003e7e;
        text-transform: uppercase;
        padding: 10px 10px 8px;
        background-color: #fff;
        white-space: nowrap;
        -webkit-transition: all 0.25s ease-out 0s;
        -moz-transition: all 0.25s ease-out 0s;
        -ms-transition: all 0.25s ease-out 0s;
        -o-transition: all 0.25s ease-out 0s;
        transition: all 0.25s ease-out 0s; }
        nav > ul > li a:hover {
          background-color: #263a54;
          color: #fff;
          text-decoration: none; }
        nav > ul > li a.arrow-down {
          padding-right: 25px; }
          nav > ul > li a.arrow-down:before, nav > ul > li a.arrow-down:after {
            display: block;
            content: '';
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all 0.25s ease-out 0s;
            -moz-transition: all 0.25s ease-out 0s;
            -ms-transition: all 0.25s ease-out 0s;
            -o-transition: all 0.25s ease-out 0s;
            transition: all 0.25s ease-out 0s;
            position: absolute;
            top: 0px;
            bottom: 0px;
            margin: auto;
            border: 1px solid #263A54;
            height: 0px;
            width: 7px; }
          nav > ul > li a.arrow-down:after {
            right: 11px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg); }
          nav > ul > li a.arrow-down:before {
            right: 7px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg); }
          nav > ul > li a.arrow-down:hover:before, nav > ul > li a.arrow-down:hover:after {
            border-color: #fff; }
        nav > ul > li a ~ li {
          background-color: #f00; }
    nav > ul ul {
      display: none;
      position: absolute;
      z-index: 9; }

.carousel {
  width: 100%;
  margin-bottom: 45px; }

.carousel-wrap {
  display: table;
  table-layout: fixed;
  position: relative; }
  .carousel-wrap .thumb-img,
  .carousel-wrap .brief {
    display: table-cell;
    width: 50%; }
    @media (max-width: 768px) {
      .carousel-wrap .thumb-img,
      .carousel-wrap .brief {
        width: 100%;
        float: left; } }
  .carousel-wrap .brief {
    vertical-align: top;
    background-color: #003e7e;
    color: #fff;
    padding: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .carousel-wrap .brief h1,
    .carousel-wrap .brief h2 {
      font-size: 30px; }
    .carousel-wrap .brief h1 {
      font-weight: normal; }
    .carousel-wrap .brief p {
      line-height: 14px; }
  .carousel-wrap .thumb-img img {
    float: left; }
    @media (max-width: 768px) {
      .carousel-wrap .thumb-img img {
        width: 100%; } }

.rest-carousel {
  width: 50%;
  float: left; }
  @media (max-width: 480px) {
    .rest-carousel {
      width: 100%; } }
  .rest-carousel.second-sect .brief {
    background-color: #263a54; }
  .rest-carousel.third-sect .brief {
    background-color: #d5dadf; }
    .rest-carousel.third-sect .brief.buble-left:after {
      border-right-color: #d5dadf; }
      @media (max-width: 768px) {
        .rest-carousel.third-sect .brief.buble-left:after {
          border-right-color: transparent;
          border-bottom-color: #d5dadf; } }
  .rest-carousel.third-sect a {
    background-color: #263a54; }
    .rest-carousel.third-sect a:before, .rest-carousel.third-sect a:after {
      border-color: #fff; }

.company {
  color: #263a54;
  margin-bottom: 45px; }
  .company > div {
    float: left;
    width: 25%;
    height: 542px;
    padding: 37px 33px 25px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 768px) {
      .company > div {
        width: 50%; } }
    @media (max-width: 480px) {
      .company > div {
        width: 100%;
        height: auto; } }
    .company > div h3 {
      font-size: 30px;
      margin: 0 0 23px; }
  .company .company-report {
    padding-bottom: 7px; }
    .company .company-report h4 {
      font-size: 14px;
      margin-bottom: 0; }
    .company .company-report .date,
    .company .company-report a {
      font-size: 11px;
      color: #73ad34; }
    .company .company-report a {
      position: relative; }
      .company .company-report a span {
        position: relative;
        margin-left: 10px;
        background-color: #73ad34; }
        .company .company-report a span:after, .company .company-report a span:before {
          border-color: #fff; }
  .company .report {
    background-color: #d5dadf; }
  .company .news {
    background-color: #f1f4f6; }
    .company .news .company-report {
      border-bottom: 1px solid #d5dadf; }
  .company .events {
    width: 50%;
    color: #fff;
    padding: 0; }
    @media (max-width: 768px) {
      .company .events {
        width: 100%; } }
    @media (max-width: 480px) {
      .company .events {
        height: auto; } }
    .company .events > div {
      width: 50%;
      height: 271px;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 480px) {
        .company .events > div {
          width: 100%;
          height: auto; } }
    .company .events .title {
      background-color: #003e7e;
      padding: 35px; }
      @media (max-width: 480px) {
        .company .events .title:after {
          right: 0;
          top: 100%;
          left: 0;
          border-left-color: transparent;
          border-top-color: #003e7e; } }
      @media (max-width: 480px) {
        .company .events .title h3 {
          margin: 0;
          text-align: center; } }
    .company .events .month {
      background-color: #263a54;
      padding: 30px 25px; }
    .company .events .day {
      background-color: #a8afb7;
      text-align: center;
      padding: 30px; }
      .company .events .day .event-day {
        font-size: 200px;
        font-weight: bold;
        margin: 0; }
      .company .events .day .event-month {
        margin: 0;
        font-size: 25px; }
    .company .events .event {
      padding: 50px 40px; }
      .company .events .event .event-title {
        color: #003e7e;
        font-size: 25px;
        margin: 0; }
      .company .events .event .event-date {
        font-weight: bold;
        color: #73ad34; }

.calendar {
  font-weight: bold;
  text-align: center;
  border-spacing: 0;
  empty-cells: hide;
  margin: auto; }
  .calendar th {
    height: 30px;
    vertical-align: top; }
  .calendar td {
    width: 35px;
    height: 35px;
    border: 1px solid #263a54;
    background-color: #365277;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .calendar td:nth-last-child(1), .calendar td:nth-last-child(2) {
      background-color: #3e5e89; }
    .calendar td.event-day {
      background-color: #73ad34; }

.footer-menu {
  background-color: #003e7e;
  color: #fff; }
  .footer-menu > div {
    width: 25%;
    float: left;
    padding: 20px 50px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 768px) {
      .footer-menu > div {
        width: 50%; } }
    @media (max-width: 480px) {
      .footer-menu > div {
        display: none; } }
    .footer-menu > div h4 {
      font-size: 24px;
      margin: 30px 0 20px; }
    .footer-menu > div li {
      border-bottom: 2px solid #0064cb;
      padding: 17px 0 6px; }
      .footer-menu > div li a {
        color: #fff;
        display: block;
        position: relative; }

footer {
  width: 100%;
  background-color: #0064cb;
  color: #fff;
  padding: 14px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 768px) {
    footer {
      text-align: center; } }
  footer .copy-right {
    float: left;
    margin: 10px 0; }
  footer .footer-link {
    float: left;
    padding: 10px 0 0 30px; }
    @media (max-width: 768px) {
      footer .footer-link {
        padding: 0; } }
    footer .footer-link li {
      display: inline-block;
      border-left: 1px solid #fff;
      padding: 0 5px;
      margin-bottom: 5px; }
      footer .footer-link li:first-child {
        border-left: none; }
      footer .footer-link li a {
        color: #fff; }
  @media (max-width: 768px) {
    footer .copy-right,
    footer .footer-link {
      float: none; } }

/*# sourceMappingURL=style.css.map */
