.carousel{
	width: 100%;
	margin-bottom: 45px;
}
.carousel-wrap{
	display: table;
	table-layout: fixed;
	position: relative;
	.thumb-img,
	.brief{
		display: table-cell;
		width: 50%;
	}
	.brief{
		vertical-align: top;
		background-color: $secondary-color;
		color: $white;
	}
	.thumb-img{
		img{
			width: 100%;
			float: left;
		}
	}
}
.rest-carousel{
	width: 50%;
	float: left;
	.brief{
		// width: 50%;
		height: 270px;
		padding: 40px;
		line-height: 14px;
		@include boxsizing;
		h2{
			font-size: 30px;
		}
	}
	&.second-sect{
		.brief{
			background-color: #263a54;
		}
	}
	&.third-sect{
		.brief{
			background-color: #d5dadf;
			&.buble-left{
				&:after{
					border-right-color: #d5dadf;
				}
			}
		}
		a{
			background-color: $primary-color;
			&:before,
			&:after{
				border-color: $white;
			}
		}
	}
}