.carousel{
	width: 100%;
	// height: 635px;
	margin-bottom: 45px;
	// border: 1px solid #ccc;
	// @include boxsizing;
	.main-carousel{
		float: left;
		position: relative;
		img{
			float: left;
			width: 50%;
		}
		.brief{
			float: left;
			width: 50%;
			background-color: $secondary-color;
			color: $white;
		}
	}
	.rest-carousel{
		width: 50%;
		float: left;
		position: relative;
		// background-color: $secondary-color;
		img{
			float: left;
			width: 50%;
		}
		.brief{
			float: left;
			width: 50%;
			height: 270px;
			color: $white;
			padding: 40px;
			line-height: 14px;
			@include boxsizing;
			&:first-child{
				background-color: #263a54;
			}
			h2{
				font-size: 30px;
			}
		}
		&.second-sect{
			.brief{
				background-color: #263a54;
			}
		}
		&.third-sect{
			.brief{
				background-color: #d5dadf;
				&.buble-left{
					&:after{
						border-right-color: #d5dadf;
					}
				}
			}
			a{
				background-color: $primary-color;
				&:before,
				&:after{
					border-color: $white;
				}
			}
		}
	}
}