.footer-menu{
	background-color: $secondary-color;
	color: $white;
	> div{
		width: 25%;
		float: left;
		padding: 20px 50px 30px;
		@include boxsizing;
		h4{
			font-size: 24px;
			margin: 30px 0 20px;
		}
		li{
			border-bottom: 2px solid $lighten-secondary;
			padding: 17px 0 10px;
			a{
				color: $white;
				display: block;
				position: relative;
			}
		}
	}
}
footer{
	width: 100%;
	background-color: $lighten-secondary;
	color: $white;
	padding: 20px;
	@include boxsizing;
	.copy-right{
		float: left;
	}
	.footer-link{
		float: left;
		padding: 12px 0 0 30px;
		li{
			display: inline-block;
			border-left: 1px solid $white;
			padding: 0 10px;
			&:first-child{
				border-left: none;
			}
			a{
				color: $white;
			}
		}
	}
}