@include fontFace($baseFont, $fontPath, $baseFontWeight);
html {
  	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}
body{
	font-family: $baseFont ,sans-serif;
	font-size: 12px;
	background-color: $body-bg;
	color: $primary-color;
}
h1,h2,h3,h4,h5{
	text-transform: uppercase;
}
a{
	text-decoration: none;
	&:active,
	&:hover {
	  outline: 0;
	}
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
header,
section,
footer{
	width: 100%;
	overflow: hidden;
}
.container{
	width: 1280px;
	margin: 0 auto;
	padding: 30px 35px 35px;
}




.icon {
    border: 2px solid $light-green;
    display: inline-block;
    position: relative;
    vertical-align: top;
    @include boxsizing;
	&:after,
	&:before {
	    border: 1px solid $light-green;
	    content: '';
	    @include boxsizing;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    margin: auto;
	}
	&:after{
		width: 0;
	}
	&:before{
		height: 0;
	} 
}
.plus {
	position: absolute;
	right: 20px;
	bottom: 20px;
    @include circle(24px);
	&:after {
	    height: 12px;
	}
	&:before {
	    width: 12px;
	}
}