@include fontFace($baseFont, $fontPath, $baseFontWeight);
html {
  	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}
body{
	margin: 0;
	font-family: $baseFont ,sans-serif;
	font-size: 12px;
	background-color: $body-bg;
	color: $primary-color;
}
h1,h2,h3,h4,h5{
	text-transform: uppercase;
}
a{
	text-decoration: none;
	&:active,
	&:hover {
	  outline: 0;
	  text-decoration: underline;
	}
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
section,
footer{
	width: 100%;
	overflow: hidden;
}
.container{
	width: 1210px;
	margin: 0 auto;
	padding-top: 35px;
	position: relative;
}

#move-top{
	// display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
}