header{
	width: 100%;
	float: left;
}
#logo{
	float: left;
	width: 250px;
	display: block;
	@media (max-width: $tablet) {
		float: none;
		margin: auto;
	}
}
.contact{
	float: right;
	margin-top: 10px;
	padding-right: 10px;
	@media (max-width: $tablet) {
		float: left;
	}
	li{
		display: inline-block;
		// height: 15px;
		line-height: 18px;
		margin-left: 33px;
		color: $secondary-color;
		padding-left: 20px;
		margin-bottom: 10px;
		background-position: center left;
		background-repeat: no-repeat;
		background-image: url(../img/pointer.png);
		@media (max-width: $tablet) {
			margin-left: 20px;
		}
		&.address{
			background-image: url(../img/pointer.png);
		}
		&.mail{
			background-image: url(../img/envelop.png);
		}
		&.telephone{
			background-image: url(../img/telephone.png);
		}
		&.language{
			background-image: url(../img/down-arrow.png);
		}
		a{
			color: $secondary-color;
		}
	}
}
.connect{
	float: right;
	margin: 10px 0;
	padding: 0 10px;
	@media (max-width: $tablet) {
		width: 100%;
		margin: 10px 0;
		@include boxsizing;
	}

	input[type=search]{
		-webkit-appearance: none;
		float: right;
		height: 45px;
		width: 385px;
		padding: 15px;
		background-color: #c5cdd1;
		border: none;
		text-transform: uppercase;
		font-size: 12px;
		@include boxsizing;
		&::-webkit-input-placeholder {
		   color: $white;
		}
		&:-moz-placeholder { /* Firefox 18- */
		   color: $white;
		   opacity: 1;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		   color: $white;
		   opacity: 1;
		}
		&:-ms-input-placeholder {  
		   color: $white;  
		}
		@media (max-width: $tablet) {
			width: 100%;
			margin-bottom: 5px;
		}
	}
}
.social-media{
	margin-top: 7px;
	float: right;
	@media (max-width: $tablet) {
	}
	li{
		display: inline-block;
		margin: 0 17px 7px 17px;
		a{
			display: block;
			@include circle(32px);
			background-color: #c5cdd1;
			background-position: center center;
			background-repeat: no-repeat;
			// @include transition(all, 0.5s, ease-in);
			&.facebook{
				background-image: url(../img/facebook.png);
				&:hover{
					background-color: #3B5998;
				}
			}
			&.twitter{
				background-image: url(../img/twitter.png);
				&:hover{
					background-color: #00ACED;
				}
			}
			&.gplus{
				background-image: url(../img/gplus.png);
				&:hover{
					background-color: #D14836;
				}
			}
			&.rss{
				background-image: url(../img/rss.png);
				&:hover{
					background-color: #FF8300;
				}
			}
		}
		&:last-child{
			@media (max-width: $tablet) {
				margin-right: 0;
			}
		}
	}
}