.icon{
	display: inline-block;
	position: absolute;
    @include boxsizing;
    @include transition(background-color, 0.25s);
	&:after,
	&:before {
	    content: '';
	    @include boxsizing;
		@include transition(border-color, 0.25s);
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    margin: auto;
		border: 2px solid $primary-color;
		height: 0;
		width: 12px;
	}
}
.next{
	background-color: $white;
	@include circle(34px);
	&:after,
	&:before{
		@include border-radius(2px, 2px, 2px, 2px);
	}
	&:after {
	    bottom: 6px;
		@include rotate(45);
	}
	&:before {
	    top: 6px;
		@include rotate(-45);
	}
	&:hover:not(.small) {
		background-color: $primary-color;
		border: 2px solid $white;
		&:after,
		&:before {
			border-color: $white;
		}
	}
	&.large{
		right: 20px;
		bottom: 20px;
	}
	&.small{
		@include circle(10px);
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		&:after,
		&:before{
			border-width: 1px;
			width: 4px;
		}
		&:after {
			bottom: 2px;
		}
		&:before {
			top: 2px;
		}
	}
}
.up{
	background-color: $light-green;
	@include circle(34px);
	@include border-radius(0, 0, 0, 0);
	&:after,
	&:before{
		// width: 11px;
		border-color: $white;
		// border-width: 1px;
	}
	&:after {
	    left: 6px;
		@include rotate(45);
	}
	&:before {
	    right: 6px;
		@include rotate(-45);
	}
	&:hover{
		background-color: lighten($light-green, 10%);
		/* border: 2px solid $light-green;
		&:after,
		&:before{
			border-color: $light-green;
		} */
	}
}
.carousel-arrow{
	background-color: $white;
	width: 34px;
	height: 50px;
	top: 0;
	bottom: 0;
	margin: auto;
	&:after{
	    bottom: 6px;
	}
	&:before {
	    top: 6px;
	}
	&:hover{
		background-color: $primary-color;
		border: 2px solid $white;
		&:after,
		&:before {
			border-color: $white;
		}
	}
}
.carousel-next{
	right: 0;
	@include border-radius(0, 0, 2px, 2px);
	&:after {
		@include rotate(45);
	}
	&:before {
		@include rotate(-45);
	}
	&:hover{
		border-right: none;
	}
}
.carousel-prev{
	left: 0;
	@include border-radius(2px, 2px, 0, 0);
	&:after {
		@include rotate(-45);
	}
	&:before {
		@include rotate(45);
	}
	&:hover{
		border-left: none
	}
}
.buble{
	position: relative;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		border-color: transparent;
	    border-style: solid;
	    border-width: 21px;
	    width: 0;
	    height: 0; 
	}
	&.buble-left{
		&:after{
			right: 100%;
			border-right-color: $primary-color;
			@media (max-width: $tablet) {
				border-right-color: transparent;
				border-bottom-color: $primary-color;
				bottom: 100%;
				top: auto;
				right: 0;
				left: 0;
			}
		}
	}
	&.buble-right{
		&:after{
			left: 100%;
			border-left-color: $secondary-color;
		}
	}
}

.plus {
    @include circle(24px);
    border: 2px solid $light-green;
	right: 20px;
	bottom: 20px;
	&:after,
	&:before {
	    border: 1px solid $light-green;
	}
	&:after{
		width: 0;
	    height: 12px;
	}
	&:before{
	    width: 12px;
		height: 0;
	}
	&:hover{
		background-color: $light-green;
		&:after,
		&:before {
			border-color: $white;
		}
	}
}