@mixin fontFace($font, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font;
    src: url('#{$src}/#{$font}-plain.eot'); // IE9 compat
    src: url('#{$src}/#{$font}-plain.eot?#iefix') format('embedded-opentype'), // IE8 and below
         // url('#{$src}/#{$font}-plain.woff') format('woff'), // standards
         url('#{$src}/#{$font}-plain.ttf') format('truetype'), // Safari, Android, iOS
         url('#{$src}/#{$font}-plain.svg##{$font}') format('svg'); // legacy iOS
    font-style: $style;
    font-weight: $weight;
  }
}
@mixin boxsizing{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@mixin circle($circleSize){
  width: $circleSize;
  height: $circleSize;
  -webkit-border-radius: $circleSize/2;
     -moz-border-radius: $circleSize/2;
          border-radius: $circleSize/2;
}
@mixin rotate($deg) {
    -webkit-transform: rotate(#{$deg}deg);
    -moz-transform: rotate(#{$deg}deg);
    -ms-transform: rotate(#{$deg}deg);
    -o-transform: rotate(#{$deg}deg);
}
@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
    -webkit-border-top-right-radius: $topright;
    -webkit-border-bottom-right-radius: $bottomright;
    -webkit-border-bottom-left-radius: $bottomleft;
    -webkit-border-top-left-radius: $topleft;
    -moz-border-radius-topright: $topright;
    -moz-border-radius-bottomright: $bottomright;
    -moz-border-radius-bottomleft: $bottomleft;
    -moz-border-radius-topleft: $topleft;
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    border-top-left-radius: $topleft;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}