@mixin fontFace($font, $src, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font;
    src: url('#{$src}/#{$font}-plain.eot'); // IE9 compat
    src: url('#{$src}/#{$font}-plain.eot?#iefix') format('embedded-opentype'), // IE8 and below
         // url('#{$src}/#{$font}-plain.woff') format('woff'), // standards
         url('#{$src}/#{$font}-plain.ttf') format('truetype'), // Safari, Android, iOS
         url('#{$src}/#{$font}-plain.svg##{$font}') format('svg'); // legacy iOS
    font-style: $style;
    font-weight: $weight;
  }
}
@mixin boxsizing{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@mixin circle($circleSize){
  width: $circleSize;
  height: $circleSize;
  -webkit-border-radius: $circleSize/2;
     -moz-border-radius: $circleSize/2;
          border-radius: $circleSize/2;
}