.company{
	color: $primary-color;
	margin-bottom: 45px;
	& > div{
		float: left;
		width: 25%;
		height: 542px;
		padding: 37px 33px 25px;
		position: relative;
		@include boxsizing;
		@media (max-width: $tablet){
			width: 50%;
		}
		@media (max-width: $mobile){
			width: 100%;
			height: auto;
		}
		h3{
			font-size: 30px;
			margin: 0 0 23px;
		}
	}
	.company-report{
		padding-bottom: 7px;
		h4{
			font-size: 14px;
			margin-bottom: 0;
		}
		.date,
		a{
			font-size: 11px;
			color: $light-green;
		}
		a{
			position: relative;
			span{
				position: relative;
				margin-left: 10px;
				background-color: $light-green;
				&:after,
				&:before{
					border-color: $white;
				}
			}
		}

	}
	.report{
		background-color: $annual-report-bg;
	}
	.news{
		background-color: $news-report-bg;
		.company-report{
			border-bottom: 1px solid $news-report-border;
		}
	}
	.events{
		width: 50%;
		color: $white;
		padding: 0;
		@media (max-width: $tablet){
			width: 100%;
		}
		@media (max-width: $mobile){
			height: auto;
		}
		> div{
			width: 50%;
			height: 271px;
			float: left;
			@include boxsizing;
			@media (max-width: $mobile){
				width: 100%;
				height: auto;
			}
		}
		.title{
			background-color: $secondary-color;
			padding: 35px;
			@media (max-width: $mobile){
				&:after{
					right: 0;
					top: 100%;
					left: 0;
					border-left-color: transparent;
					border-top-color: $secondary-color;
				}
			}
			h3{
				@media (max-width: $mobile){
					margin: 0;
					text-align: center;
				}
			}
		}
		.month{
			background-color: $primary-color;
			padding: 30px 25px;
		}
		.day{
			background-color: $date-bg;
			text-align: center;
			padding: 30px;
			.event-day{
				font-size: 200px;
				font-weight: bold;
				margin: 0;
			}
			.event-month{
				margin: 0;
				font-size: 25px;
			}
		}
		.event{
			padding: 50px 40px ;
			.event-title{
				color: $secondary-color;
				font-size: 25px;
				margin: 0;
			}
			.event-date{
				font-weight: bold;
				color: $light-green;
			}
		}
	}
}