.company{
	color: $primary-color;
	margin-bottom: 45px;
	& > div{
		float: left;
		width: 25%;
		height: 542px;
		padding: 37px 33px 25px;
		position: relative;
		@include boxsizing;
		h3{
			font-size: 30px;
			margin: 0 0 23px;
		}
	}
	.company-report{
		padding-bottom: 7px;
		h4{
			font-size: 14px;
			margin-bottom: 0;
		}
		.date,
		a{
			font-size: 11px;
			color: $light-green;
		}
	}
	.report{
		background-color: $annual-report-bg;
	}
	.news{
		background-color: $news-report-bg;
		.company-report{
			border-bottom: 1px solid $news-report-border;
		}
	}
	.events{
		width: 50%;
		color: $white;
		padding: 0;
		> div{
			width: 50%;
			height: 271px;
			float: left;
			// border: 1px solid #ff0;
			@include boxsizing;
		}
		.title{
			background-color: $secondary-color;
			padding: 35px;
		}
		.month{
			background-color: $primary-color;
			padding: 30px 25px;
		}
		.day{
			background-color: $date-bg;
			text-align: center;
			.event-day{
				font-size: 200px;
				margin: 0;
			}
			.event-month{
				margin: 0;
				font-size: 25px;
			}
		}
		.event{
			padding: 50px 40px ;
			.event-title{
				color: $secondary-color;
				font-size: 25px;
				margin: 0;
			}
			.event-date{
				color: $light-green;
			}
		}
	}
}