$body-bg: #fff;
$primary-color: #263a54;
$secondary-color: #003e7e;
$lighten-secondary: lighten($secondary-color, 15%);
$white: #fff;
$light-green: #73ad34;
$nav-color: $secondary-color;


// Typography
$fontPath: "../fonts";
$baseFont: 'avalon';
$baseFontWeight: 400;
$baseFontColor: $primary-color;


$annual-report-bg: #d5dadf;
$news-report-bg: #f1f4f6;
$news-report-border: $annual-report-bg;
$date-bg: #a8afb7;


// $footer-bg: #0154ae;

// Media queray break point
$largeScreen: 1200px;
$tablet: 768px;
$mobile: 480px;
