/* ===================================
Project:	A101 - Technical Task
Author: 	Muhammed Athimannil
============================== */

@import "variables";
@import "mixins";
@import "general";
@import "header";
@import "carousel";